@model Application.ViewModels.DataTable

<table class="table">
    @Html.Partial("~/Views/Shared/_NoNameTableHeader.cshtml")
    @foreach (var item in Model.dataList)
            {
        <tr>
            <td class="name">@item.Name</td>
            <td class="total"></td>

            @{
                var tCount = 1;
                foreach (var x in item.Values)
                {
                    var text = String.Format("{0:C0}", x);
                    var column = "data col" + tCount;
                    <td class="@column">@text</td>
                    tCount++;
                }
            }
        </tr>
                }


</table>

