<h4>Raise</h4>


<table class="table raise">
    <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Percent</th>
    </tr>
    <tr>
        <td id="newRaiseDate"><input type="date" /></td>
        <td id="newRaiseValue"><input type="number" /></td>
        <td id="newRaiseCheckbox" ><input id="raise" type="checkbox" class="checkbox" style="width:100%;"/></td>
    </tr>
</table>

